

.date-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    color: rgb(33, 64, 90);
    text-shadow: 0 0 1px black;
}

.year{
    margin: 10px 0 0 0 ;
    font-size: 1rem;
    font-weight: bold;
}

.date-duration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-duration p,.date-duration span{
    margin: 0;
    text-shadow: 1rem;
}

@media (min-width: 800px){
    .date-duration p,.date-duration span,.year{
        font-size: 1.2rem;
    }
}