
.form-modal{
    position: absolute;
    left:0; top: 10%;
    width: 100%;
    min-height: 200px;
    background: linear-gradient(rgb(51, 98, 126),rgb(36, 71, 146));
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 black;
    z-index: 2;
}

.close-modal{
    position: absolute;
    top: 5px; left: 5px;
    font-family: cursive;
    font-weight: bold;
    position: absolute;
}

.close-modal:hover{
    cursor: pointer;
    color:white;
}

.form-modal h3{
    margin: 15px 0 12px 0;
    color: rgb(24, 47, 66);
    font-weight: bold;
    font-size: 1.8rem;
    font-family: cursive;
}

.form-modal form{
    width: 80%;
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-modal>form label{
    color: rgb(25, 40, 51);
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 2px;
}

.form-modal>form input{
    width: 100%;
    margin-bottom: 12px;
    min-height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

.form-modal>form button{
    font-weight: bold;
    font-size: 1.15rem;
    font-family: cursive;
    color: rgb(17, 50, 105);
    border: none;
    border-radius: 5px;
    background-color: rgb(70, 104, 163);
    text-align: center;
    margin: 0 auto 10px auto;
}

.form-modal>form button:hover{
    transform: scale(1.15);
    cursor: pointer;
    background-color: white;
}

.delete-form{
    top: 28%;
}

.create-course{
    top:23%;
}

.edit-user{
    top:15%;
}

.block-modal{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.459);
}

.error{
    background-color: salmon;
    border: solid 1px red;
}

.error-msg{
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
    color:rgb(233, 64, 13);
    text-shadow: 0 1px 2px rgb(175, 19, 19);
    font-weight: bold;
    font-size: 1rem;
}


input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

@media (min-width:500px){
    .form-modal{
        width: 500px;
        left: 0; right:0;
        margin: auto;
    }
    .close-modal{
        font-size: 1.4rem;
    }
}